@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-light: #22223a;
    --bg-dark: #1b1c30;
    --purple: #5046ba;
    --white: #F1F5FB;
    --white-darker: #c6c8d6;
    --yellow: #ffc540;
    --grey-dark: #31334c;
    --grey: #6f7084;
    --grey-light: #a4aab6;
    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    /* Utilities */
    --big-padding: 2rem;
    --small-padding: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--bg-dark);
    color: var(--white);
}

.scaffold {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

/*#region Sidebar*/

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    border-right: 1px solid var(--grey-dark);
    z-index: 200;
}

.sidebar__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;
    pointer-events: none;
    transition: all 0.15s ease-in-out;
}


.sidebar__title div {
    cursor: pointer;
    pointer-events: auto;
}

.sidebar__title img {
    height: 5rem;
    width: auto;
    padding-right: 1rem;
    cursor: pointer;
    pointer-events: auto;
}

.sidebar__title:hover {
    transform: scale(1.01);
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.sidebar__menu__nav, .sidebar__menu__settings {
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-transform: capitalize;
}

.sidebar__menu__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--grey);
    font-weight: 500;
    padding: .05rem 2rem .05rem 1rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.sidebar__menu__item svg {
    stroke-width: 2;
    margin-right: 2rem;
}


.sidebar__menu__item:hover:not(.sidebar__menu__item__selected) {
    color: var(--grey-light);
}

.sidebar__menu__item__selected {
    color: var(--white);
}

.sidebar__menu__item__selected::after {
    background-color: var(--yellow);
    content: " ";
    height: 100%;
    width: 3px;
    position: absolute;
    right: 0;
    border-radius: 100rem;
}


#logout {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.divider {
    height: 5rem;
}

/*#endregion*/

/*#region Header*/
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    background-color: var(--bg-light);
    padding: 1rem 2rem 2rem 2rem;
    z-index: 100;

}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    background: url(./img/search.svg) no-repeat;
    background-size: 2rem;
    background-position: 1rem 45%;
    background-color: var(--bg-dark);
    width: min(70rem, 85%);
    border-style: none;
    border-radius: 1rem;
    padding: 1.25rem 3.5rem;
    font-weight: 600;
    color: var(--white);
    caret-color: var(--yellow);
}

.searchbar input:focus {
    outline: none;
}

.searchbar input::placeholder {
    color: var(--grey);
    font-weight: 500;
}

.header__usef-info {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: end;
    align-items: center;
}

.notification {
    position: relative;
    margin: 0rem 3rem 0rem 5rem;
}

.header__usef-info svg {
    cursor: pointer;
    color: var(--grey-light);
    transition: all 0.1s ease-out;
}

.header__usef-info svg:hover {
    color: var(--white);

}

.notification::after {
    position: absolute;
    background-color: var(--yellow);
    content: " ";
    height: 8px;
    width: 8px;
    border-radius: 100px;
    right: 3px;
    box-shadow: 0 0 5px 1px var(--yellow);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-out;
    font-weight: 600;
    padding: 1rem 0rem;
}

.profile img {
    width: 5rem;
    border-radius: 500px;
    margin-right: 1rem;
}

.profile:hover {
    transform: scale(1.01);
}

.user__greeting {
    display: flex;
    align-items: center;
}

.user__greeting img {
    width: 6rem;
    height: 6rem;
    border-radius: 500px;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.user__greeting img:hover {
    transform: scale(1.01);
}

.user__greeting div {
    font-size: 1.2rem;
}

.user__greeting div div {
    font-size: 1.6rem;
    font-weight: 600;
}

.post-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: var(--purple);
    width: 7.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    padding: .5rem 0px;
    margin: 0rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .15s ease-out;
    user-select: none;
}

.button:hover {
    transform: translateY(-1.5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}


.button:active {
    transform: translateY(0px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}

/*#endregion*/

/*#region --------- Content --------- */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "projects news"
        "project-performance trending";
    background-color: var(--bg-dark);
    font-size: 1rem;
}

.content-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/*#region --------- Projects --------- */

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--big-padding);
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    height: 100%;
}

.project {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--grey-dark);
    padding: 1rem 1.5rem 0rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
    z-index: 0;
}

/*
.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/swirl-01-01-01.png");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: bottom -5px left -5rem;
    filter: brightness(1);
    z-index: -1;
}*/

.project:hover {
    background-color: var(--purple);
    transform: translateY(-1px);
}

.project:hover .project__description {
    color: var(--white);
}

.project__title {
    font-size: 1.4rem;
    font-weight: 600;

}

.project__description {
    color: var(--white-darker);
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s ease-out;
}

.project__buttons {
    justify-self: end;
    align-self: end;
    padding: 2rem 0rem .5rem 0rem;
}

.project__buttons svg {
    width: 1.5rem;
    margin-left: .5rem;
    color: var(--grey-light);
    transition: all .1s ease-out;
}

.project__buttons svg:hover {
    color: var(--yellow);
    transform: translateY(-1px);
}

.project-performance {
    grid-area: project-performance;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem var(--big-padding);

}

.project__performance__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
}

.performance-card {
    background-color: var(--purple);
    padding: .5rem var(--small-padding);
    border-radius: .75rem;
    cursor: pointer;
    transition: all .15s ease-out
}

.performance-card__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--yellow);
}

.performance-card__data {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
}

.performance-card:hover {
    transform: translateY(-1px);
    filter: brightness(1.1);

}

.analytics {
    display: flex;
    justify-content: start;
}

#chart_div {
    width: 100%;
}

/*#endregion*/

/*#region --------- News --------- */

.news {
    grid-area: news;
    display: flex;
    flex-direction: column;
    height: 90%;
    max-height: 50rem;
    padding: var(--big-padding);
}

.news__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background-color: var(--purple);
    border-radius: var(--small-padding);
    padding: var(--big-padding);
}

.news__highlight {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 100%;
    padding: var(--big-padding);
    z-index: 0;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.news__highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/day66-travel-edit-01-crop-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    border-radius: 2rem;
    filter: brightness(.85);
    z-index: -1;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .25);
    transition: all 0.15s ease-out;
}

.highlight__title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: black 0 3px 3px;
    z-index: 1;
    transition: all 0.15s ease-out;

}

.highlight__description {
    font-size: 2rem;
    font-weight: 400;
    text-shadow: black 0 2px 2px;
    z-index: 1;
    transition: all 0.15s ease-out;
}

.news__highlight:hover {
    transform: translateY(-2px);
}

.news__highlight:hover .highlight__title, .news__highlight:hover .highlight__description {
    transform: translateY(2rem);
}

.news__highlight:hover::before {
    filter: brightness(1);
}


.news__small {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.new {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.new:not(:last-child) {
    border-bottom: 0px solid var(--white-darker);
    padding-bottom: 1rem;
}

.new:hover {
    transform: translateY(-1px);
}

.new:hover .new__body {
    color: var(--white);
}

.new__title {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--white);
}

.new__body {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--white-darker);
    transition: all 0.15s ease-out;
}

/*#endregion*/

/*#region --------- Trending --------- */
.trending {
    grid-area: trending;
    display: flex;
    flex-direction: column;
    padding: var(--big-padding);
}

.user-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--grey-dark);
    border-radius: var(--small-padding);
    padding: var(--big-padding);

}

.user {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pfp tag"
        "pfp name";
    margin-right: 1rem;
    cursor: pointer;
    transition: all .15s ease-out;
}

.user:hover {
    transform: scale(1.05);
}

.user img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 200px;
    grid-area: pfp;
    margin-right: 1rem;
}

.user div:first-of-type {
    font-size: 1.3rem;
    font-weight: 600;
}

.user div:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-darker)
}

/*#endregion*/
/*#endregion*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 1rem;

}

/* Track */
::-webkit-scrollbar-track-piece {
    background: var(--purple);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--purple);
}

@media only screen and (max-width: 1350px) {
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 1190px) {
    html {
        font-size: 60%;
    }

    .scaffold {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .header {
        position: sticky;
    }

    .content {
        grid-template-columns: 50% 50%;

    }

    .project-gallery {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .project__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .news__container {
        display: grid;
        grid-template-columns: 1fr;

    }

    .news__highlight::before {

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(.6);
    }
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 50%;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "projects"
            "project-performance"
            "news"
            "trending";
        background-color: var(--bg-dark);
        font-size: 1rem;
    }

    .project-gallery {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .project__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}