@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-light: #22223a;
    --bg-dark: #1b1c30;
    --purple: #5046ba;
    --white: #F1F5FB;
    --yellow: #ffc540;
    --grey-dark: #31334c;
    --grey: #6f7084;
    --grey-light: #a4aab6;
    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    /* Utilities */
    --big-padding: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--bg-dark);
    color: var(--white);
}

.scaffold {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

/*#region Sidebar*/

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
}

.sidebar__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;
    pointer-events: none;
    transition: all 0.15s ease-in-out;

}


.sidebar__title div {
    cursor: pointer;
    pointer-events: auto;
}

.sidebar__title img {
    height: 5rem;
    width: auto;
    padding-right: 1rem;
    cursor: pointer;
    pointer-events: auto;
}

.sidebar__title:hover {
    transform: scale(1.01);
}

.sidebar__menu {
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-transform: capitalize;

}

.sidebar__menu__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--grey);
    font-weight: 500;
    padding: .05rem 2rem .05rem 1rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.sidebar__menu__item svg {
    stroke-width: 2;
    margin-right: 1.8rem;
}


.sidebar__menu__item:hover:not(.sidebar__menu__item__selected) {
    color: var(--grey-light);
}

.sidebar__menu__item__selected {
    color: var(--white);
}

.sidebar__menu__item__selected::after {
    background-color: var(--yellow);
    content: " ";
    height: 100%;
    width: 3px;
    position: absolute;
    right: 0;
    border-radius: 100rem;
}

.divider {
    height: 5rem;
}

/*#endregion*/

/*#region Header*/
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    background-color: var(--bg-light);
    padding: .5rem 2rem;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    background: url(./img/search.svg) no-repeat;
    background-size: 2rem;
    background-position: 1rem 45%;
    background-color: var(--bg-dark);
    width: min(70rem, 85%);
    border-style: none;
    border-radius: 1rem;
    padding: 1.25rem 3.5rem;
    font-weight: 600;
    color: var(--white);
    caret-color: var(--yellow);
}

.searchbar input:focus {
    outline: none;
}

.searchbar input::placeholder {
    color: var(--grey);
    font-weight: 500;
}

.header__usef-info {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: end;
    align-items: center;
}

.notification {
    position: relative;
    margin: 0rem 3rem 0rem 5rem;
}

.header__usef-info svg {
    cursor: pointer;
    color: var(--grey-light);
    transition: all 0.1s ease-out;
}

.header__usef-info svg:hover {
    color: var(--white);

}

.notification::after {
    position: absolute;
    background-color: var(--yellow);
    content: " ";
    height: 8px;
    width: 8px;
    border-radius: 100px;
    right: 3px;
    box-shadow:
        0 0 5px 1px var(--yellow);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-out;
    font-weight: 600;
}

.profile img {
    width: 5rem;
    border-radius: 500px;
    margin-right: 1rem;
}

.profile:hover {
    transform: scale(1.01);
}

.user__greeting {
    display: flex;
    align-items: center;
}

.user__greeting img {
    width: 6rem;
    height: 6rem;
    border-radius: 500px;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.user__greeting img:hover {
    transform: scale(1.01);
}

.user__greeting div {
    font-size: 1.2rem;
}

.user__greeting div div {
    font-size: 1.6rem;
    font-weight: 600;
}

.post-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: var(--purple);
    width: 7.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    padding: .5rem 0px;
    margin: 0rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .15s ease-out;
    user-select: none;
}

.button:hover {
    transform: translateY(-1.5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}


.button:active {
    transform: translateY(0px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}

/*#endregion*/

/*#region Content */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "projects announcements"
        "project-performance trending"
        "analytics trending";
    background-color: var(--bg-dark);
    font-size: 1rem;
}

.content-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--big-padding);
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    height: 100%;
}

.project {
    background-color: var(--grey-dark);
    padding: 1rem 1.5rem 3rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
}

.project:hover {
    background-color: var(--purple);
    transform: translateY(-1px);
}

.project:hover .project__description {
    color: var(--white);
}

.project__title {
    font-size: 1.4rem;
    font-weight: 600;
}

.project__description {
    color: var(--grey-light);
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s ease-out;
}

/*#endregion*/